@model HomeListViewModel
<div class="bg-light p-5 rounded-lg jumbotron">
    <h1 class="display-4">@ViewData["Titolo"]</h1>
    <p class="lead">Impara in maniera intelligente con i nostri corsi online</p>
    <hr class="my-4">
    <p><a class="btn btn-primary" asp-controller="Corsi" asp-action="Index">Sfoglia il catalogo</a></p>
</div>
<section>
    <div class="row">
        <h3>Top 3 corsi migliori</h3>
    </div>
    <div>
    @foreach(CorsiViewModel corsi in Model.BestCourses)
    {
        <div class="row corso ps-5">
            <div class="col-md-1">
                <img src="@corsi.ImagePath" width="52" height="52" asp-append-version="false" alt="logo"/>
            </div>
            <div class="col-md-5">
                <h2>@corsi.Title</h2>
                <author>di @corsi.Author</author>
            </div>
            <div class="col-md-2 rating  d-flex align-items-center" title=@corsi.Rating>
                <rating value="@corsi.Rating"></rating>
            </div>
            <div class="col-md-2 price align-items-center">
               <price current-price="@corsi.CurrentPrice" full-price="@corsi.FullPrice"></price>
            </div>
            <div class="col-md-2 d-flex align-items-center">
                <a class="btn btn-outline-primary" asp-controller="Corsi" asp-action="Detail" asp-route-id="@corsi.Id">Dettaglio</a>
            </div>
        </div>
    }
    </div>
</section>
<section>
    <div class="row">
        <h3>Corsi più recenti</h3>
    </div>
    <div>
    @foreach(CorsiViewModel corsi in Model.MostRecentCourses)
    {
        <div class="row corso ps-5">
            <div class="col-md-1">
                <img src="@corsi.ImagePath" width="52" height="52" asp-append-version="false" alt="logo"/>
            </div>
            <div class="col-md-5">
                <h2>@corsi.Title</h2>
                <author>di @corsi.Author</author>
            </div>
            <div class="col-md-2 rating d-flex align-items-center" title=@corsi.Rating>
                <rating value="@corsi.Rating"></rating>
            </div>
            <div class="col-md-2 price align-items-center">
                <price current-price="@corsi.CurrentPrice" full-price="@corsi.FullPrice"></price>
            </div>
            <div class="col-md-2 d-flex align-items-center">
                <a class="btn btn-outline-primary" asp-controller="Corsi" asp-action="Detail" asp-route-id="@corsi.Id">Dettaglio</a>
            </div>
        </div>
    }
    </div>
</section>
