@model CorsoDetailViewModel
<section class="corso-info">
    <div class="row d-flex align-items-center" style="height: 8em;">
        <div class="col-md-9 d-flex" id="detailCourseTitle">
            <h1>@Model.Title</h1>
        </div>
        <div class="col-md-3 d-grid">
            <a class="btn btn-warning btn-lg sottoscrivi-corso d-flex justify-content-center align-items-center" href="#" role="button"><span>Iscriviti</span></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <p>@Model.Description</p>
        </div>
        <div class="col-md-3">
            <aside>
                <author>
                    di @Model.Author
                </author>              
            <div class="rating" title="@Model.Rating">
                <rating value="@Model.Rating"></rating>
            </div>
            <div class="price">
                <price current-price="@Model.CurrentPrice" full-price="@Model.FullPrice"></price>
            </div>
                <img src="~/Free_logo.svg" class="img-fluid corso-immagine" asp-append-version="false" alt="Titolo del corso">
            </aside>
        </div>
    </div>
</section>

<section class="corso-lezioni">
    <h2>Lezioni (@Model.Lessons.Count)</h2>
    @foreach (var lezioni in @Model.Lessons)
    {
        <hr>
        <div class="row">
            <div class="col-md-9 d-flex align-item-center">
                <a href="#">@lezioni.Title</a>
            </div>
            <div class="col-md-3 d-flex align-item-center durata-lezione">
                <i class="far fa-clock"></i><time>@lezioni.Duration.ToString("h'h 'm'm 's's'")</time>
            </div>
            <div class="col-md-12">
                <p>@lezioni.Description</p>
            </div>
        </div>
    }
    <hr>
    <div class="row durata-corso">
        <div class="col-md-9 d-flex align-item-center">
            Totale
        </div>
        <div class="col-md-3 d-flex align-item-center">
            <i class="far fa-clock"></i><time>@Model.DurataTotaleCorso</time>
        </div>
    </div>
</section>