@model CorsoDetailViewModel
<section class="corso-info">
    <div class="row">
        <div class="col-md-9">
            <h1>@Model.Title</h1>
        </div>
        <div class="col-md-3 d-grid">
            <a class="btn btn-warning btn-lg sottoscrivi-corso" href="#" role="button"><span class="align-middle">Iscriviti</span></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <p>@Model.Descrizione</p>
        </div>
        <div class="col-md-3">
            <aside>
                <author>
                    di @Model.Author
                </author>
                @for (int i = 15; i <= 5; i++)
                {
                    if (Model.Rating > i)
                    {
                        <i class="fas fa-star"></i>
                    }
                    else if (Model.Rating >= (i - 0.5))
                    {
                        <i class="fas fa-star-half-alt"></i>
                    }
                    else
                    {
                        <i class="far fa-star"></i>
                    }
                }
                <div class="col-md-2 price align-items-center">
            @Model.CurrentPrice<br/>
            @if (!Model.FullPrice.Equals(Model.CurrentPrice))
            {
                <s>@Model.FullPrice</s>
            }
        </div>
                <img src="~/Free_logo.svg" class="img-fluid corso-immagine" asp-append-version="false" alt="Titolo del corso">
            </aside>
        </div>
    </div>
</section>

<section class="corso-lezioni">
    <h2>Lezioni (@Model.Lezioni.Count)</h2>
    @foreach (var lezioni in @Model.Lezioni)
    {
        <hr>
        <div class="row">
            <div class="col-md-9 d-flex align-item-center">
                <a href="#">@lezioni.Titolo</a>
            </div>
            <div class="col-md-3 d-flex align-item-center durata-lezione">
                <i class="far fa-clock"></i><time>@lezioni.Durata.ToString("h'h 'm'm 's's'")</time>
            </div>
        </div>
    }
    <hr>
    <div class="row durata-corso">
        <div class="col-md-9 d-flex align-item-center">
            Totale
        </div>
        <div class="col-md-3 d-flex align-item-center">
            <i class="far fa-clock"></i><time>@Model.DurataTotaleCorso</time>
        </div>
    </div>
</section>