@model CourseListViewModel
<div class="row">
    <div class="col-md-8">
        <h1>Catalogo dei corsi</h1>
    </div>
    <div class="col-lg-3 col-md-4">
        <form asp-controller="Corsi" asp-action="Index" method="GET" asp-antiforgery="false">
            <div id="search" class="input-group">
                <input type="text" name="search" class="form-control" placeholder="Ricerca" value="@Model.Input.Search">
                <button class="btn btn-primary" id="search-button">
                <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5"><order-link order-by="Title" input="@Model.Input">Titolo</order-link> </div>
    <div class="col-md-2"><order-link order-by="Rating" input="@Model.Input">Rating</order-link> </div>
    <div class="col-md-2"><order-link order-by="CurrentPrice" input="@Model.Input">Prezzo</order-link></div>
    <div class="col-md-2"></div>
</div>

@foreach(CorsiViewModel corsi in Model.Corsi.Result)
{
    <partial name="Courses/_CourseLine" model="@corsi"></partial>
}

<vc:pagination-bar view-model="@Model"></vc:pagination-bar>