@model CourseListViewModel
<div class="row">
    <div class="col-md-8">
        <h1>Catalogo dei corsi</h1>
    </div>
    <div class="col-lg-3 col-md-4">
        <form asp-controller="Corsi" asp-action="Index" method="GET" asp-antiforgery="false">
            <div id="search" class="input-group">
                <input type="text" name="search" class="form-control" placeholder="Ricerca" value="@Model.Input.Search">
                <button class="btn btn-primary" id="search-button">
                <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5"><a asp-route-orderBy="Title" asp-route-ascending="@(Model.Input.OrderBy == "Title" ? !Model.Input.Ascending : true)" asp-route-search="@Model.Input.Search">Titolo @if(Model.Input.OrderBy == "Title"){<i class="fas fa-caret-@(Model.Input.Ascending ? "up" : "down")"></i>}</a></div>
    <div class="col-md-2"><a asp-route-orderBy="Rating" asp-route-ascending="@(Model.Input.OrderBy == "Rating" ? !Model.Input.Ascending : false)" asp-route-search="@Model.Input.Search">Valutazione @if(Model.Input.OrderBy == "Rating"){<i class="fas fa-caret-@(Model.Input.Ascending ? "up" : "down")"></i>}</a></div>
    <div class="col-md-2"><a asp-route-orderBy="CurrentPrice" asp-route-ascending="@(Model.Input.OrderBy == "CurrentPrice" ? !Model.Input.Ascending : true)" asp-route-search="@Model.Input.Search">Prezzo @if(Model.Input.OrderBy == "CurrentPrice"){<i class="fas fa-caret-@(Model.Input.Ascending ? "up" : "down")"></i>}</a></div>
    <div class="col-md-2"></div>
</div>

@foreach(CorsiViewModel corsi in Model.Corsi.Result)
{
    <div class="row corso">
        <div class="col-md-1">
            <img src="@corsi.ImagePath" width="52" height="52" asp-append-version="false" alt="logo">
        </div>
        <div class="col-md-5">
            <h2>@corsi.Title</h2>
            <author>di @corsi.Author</author>
        </div>
        <div class="col-md-2 rating d-flex align-items-center" title="@corsi.Rating">
            @for (int i = 1; i <= 5; i++)
            {
                if (corsi.Rating >= i - 0.2)
                {
                    <i class="fas fa-star"></i>
                }
                else if (corsi.Rating > i - 0.5)
                {
                    <i class="fas fas fa-star-half-alt"></i>
                }
                else
                {
                    <i class="far fa-star"></i>
                }
            }
        </div>
        <div class="col-md-2 price align-items-center">
            @corsi.CurrentPrice<br/>
            @if (!corsi.FullPrice.Equals(corsi.CurrentPrice))
            {
                <s>@corsi.FullPrice</s>
            }
        </div>
        <div class="col-md-2 d-flex align-items-center">
            <a class="btn btn-outline-primary" asp-action="Detail" asp-controller="Corsi" asp-route-id=@corsi.Id>Dettagli</a>
        </div>
    </div>
}

@{
    int totalPages = Convert.ToInt32(Math.Ceiling(Model.Corsi.TotalCount / (decimal)Model.Input.Limit));
    int currentPage = Model.Input.Page;
}
<nav aria-label="Paginazione">
    <ul class="pagination d-flex justify-content-center mt-3">
        @if (currentPage > 1)
        {
            <li class="page-item previous">
                <a class="page-link" asp-route-page="@(currentPage-1)" asp-route-search=@Model.Input.Search asp-route-orderBy="@Model.Input.OrderBy" asp-route-ascending="@Model.Input.Ascending"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
            </li>
        }
        @for(int p = Math.Max(1, currentPage - 1); p <= Math.Min(totalPages, currentPage+1); p++)
        {
            if (p == currentPage)
            {
                <li class="page-item active">
                    <a class="page-link" asp-route-page="@p" asp-route-search=@Model.Input.Search asp-route-orderBy="@Model.Input.OrderBy" asp-route-ascending="@Model.Input.Ascending">@p</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-route-page="@p" asp-route-search=@Model.Input.Search asp-route-orderBy="@Model.Input.OrderBy" asp-route-ascending="@Model.Input.Ascending">@p</a>
                </li>
            }
        }
        @if (currentPage < totalPages)
        {
            <li class="page-item successive">
                <a class="page-link" asp-route-page="@(currentPage+1)" asp-route-search=@Model.Input.Search asp-route-orderBy="@Model.Input.OrderBy" asp-route-ascending="@Model.Input.Ascending"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </li>
        }
    </ul>
</div>